* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth !important;
}

::-moz-selection {
  color: #000;
  background-color: #25d1b5;
}

::selection {
  color: #000;
  background-color: #25d1b5;
}
a.active {
  /* border-bottom: 2px solid #25d1b5;
  font-weight: 700; */
  color: #25d1b5;
}

::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: #cdd6f4;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #888;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .header-backdrop {
    background-color: transparent;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
  }
}
